<div class="bg-grey pr-130 pl-130 pt-5 mobile-container-1">

    <div class="d-flex justify-content-center align-items-center mobile-container-2">
        <div data-aos="fade-down-right" data-aos-duration="2500" class="w-50 text-center mobile-container-3">
            <img class="me" src="/assets/img/JS.jpg">
        </div>

        <div data-aos="fade-down-left" data-aos-duration="2500" class="w-50 text-center mobile-container-3">
            <h2 class="c-white">About Me</h2>
            <p class="c-white">"I'm an outdoor sports enthusiast (Football forever) and front end developer who has fallen in love with coding</p>
        </div>

    </div>

    <hr class="c-blue mt-5 mb-5 mobile-container-4" style="height: 3px;">

    <div class="d-flex pt-3 pb-5 mobile-container-1 flex-wrap">

        <div data-aos="fade-right" data-aos-duration="2000" class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/walk-line.png">
            </div>

            <div class="d-flex flex-column">
                <p class="c-white text-center pt-1">MY JOURNEY BEGAN <br> </p>
                <p class="c-white text-center pb-5">With a Shopify store for a friend. I changed some few things on the
                    code.</p>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/heart-line.png">
            </div>

            <div class="d-flex flex-column">
                <p class="c-white text-center pt-1">I FEEL IN LOVE WITH CODING<br> </p>
                <p class="c-white text-center pb-5">I recognized the versatile possibilities of coding</p>
            </div>
        </div>

        <div data-aos="fade-down" data-aos-duration="2000" class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/search-line.png">
            </div>

            <div class="d-flex flex-column">
                <p class="c-white text-center pt-1">FOUND DEVELOPER AKADAMY<br></p>
                <p class="c-white text-center pb-5">I was looking for a way to learn programming and found the Developer
                    Academy.</p>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="2000" class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/flight-takeoff-line.png">
            </div>

            <div class="d-flex flex-column">
                <p class="c-white text-center pt-1">NEW CHALLENGES<br> </p>
                <p class="c-white text-center pb-5">Now I am looking for new challenges as a developer</p>
            </div>
        </div>

    </div>

</div>